<% 
  signed_amount = if option_value.respond_to?(:amount)
    (option_value.amount.to_i > 0 ? "+" : "") + option_value.amount.to_s
  else
    ""
  end
%>
<tr class="option_value">
  <td><%= f.text_field :name %></td>
  <td><%= f.text_field :presentation %></td>
  <td>
    <%= f.text_field :amount, :value => signed_amount %>
    <%= t(:'number.currency.format.unit') %>
  </td>
  <td class="actions"><%= f.remove_link icon('delete') + ' ' + t("remove") %></td>
</tr>